.sconsign*
doc/html
doc/latex
dongle.bin.mvpmc
dongle.bin.mvpmc.ver
dongle/apps/busybox/mvp
dongle/apps/ntpclient/mvp
dongle/filesystem/install
dongle/install
dongle/libs/Tremor/host
dongle/libs/Tremor/mvp
dongle/libs/a52dec/host
dongle/libs/a52dec/mvp
dongle/libs/jpeg/host
dongle/libs/jpeg/mvp
dongle/libs/expat/host
dongle/libs/expat/mvp
dongle/libs/libdvbpsi/host
dongle/libs/libdvbpsi/mvp
dongle/libs/libid3/host
dongle/libs/libid3/mvp
dongle/libs/libpng/host
dongle/libs/libpng/mvp
dongle/libs/microwindows/host
dongle/libs/microwindows/mvp
dongle/libs/mysql/host
dongle/libs/mysql/mvp
dongle/libs/ncurses/host
dongle/libs/ncurses/mvp
dongle/libs/zlib/host
dongle/libs/zlib/mvp
libs/libav/obj
libs/libcmyth/obj
libs/libdemux/obj
libs/libosd/obj
libs/libreplaytv/obj
libs/libts_demux/obj
libs/libvnc/obj
libs/libwidget/obj
*.pyc
src/obj
src/version.c
tools/dongle_passwd/dongle_passwd
tools/dongle_passwd/dongle_passwd.o
tools/misc/mvpdbg
tools/misc/mvpdbg.o
tools/mktree/mktree
tools/mktree/mktree.o
tools/mvprelay/mvprelay
tools/mvprelay/mvprelay.o
tools/squashfs/squashfs2.2-r2
