.sconsign*
*.pyc
doc/html
doc/latex
dongle.bin.mvpmc
dongle.bin.mvpmc.ver
dongle/apps/*/mvp
dongle/filesystem/install
dongle/install
dongle/libs/*/host
dongle/libs/*/mvp
libs/*/obj
src/obj
src/version.c
tools/*/*.o
tools/dongle_passwd/dongle_passwd
tools/misc/mvpdbg
tools/mktree/mktree
tools/mvprelay/mvprelay
tools/squashfs/squashfs2.2-r2
