.sconsign*
*.pyc
doc/html
doc/latex
dongle.bin.mvpmc
dongle.bin.mvpmc.ver
dongle/apps/*/mvp
dongle/filesystem/install
dongle/filesystem/install_wrapper
dongle/install
dongle/libs/*/host
dongle/libs/*/mvp
dongle/kernel/linux-2.4.31/linux-2.4.31
dongle/kernel/linux-2.4.31/mvpstb
dongle/kernel/linux-2.4.31/unionfs-1.0.14
dongle/kernel/linux-2.4.31/ac3
dongle/kernel/filesystem
libs/*/obj
src/obj
src/version.c
tools/*/*.o
tools/dongle_passwd/dongle_passwd
tools/misc/mvpdbg
tools/mktree/mktree
tools/mvprelay/mvprelay
tools/squashfs/squashfs2.2-r2
