/*
 * mvpmc CSS
 */

body, h3, li, p, ul { font-size: 1em; margin: 0; padding: 0; }

a, a:link, a:visited, a:hover, a:active { color: blue; }
a:hover { text-decoration: none; }
.accesskey { text-decoration: underline; }

body {
	background: black;
	font: normal 11px "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}

h3 {
	font-weight: normal;
}
#container {
	position: relative;
	background: black url(mvpmc_logo.png) no-repeat right bottom;
	padding-bottom: 100px;
}

p {
	line-height: 1.5em;
	margin-bottom: 1em;
}

#pageHeader {
	background: black url(mvpmc_logo.png) no-repeat left top;
	height: 91px;
}

#pageHeader span {
	display: none;
}

#quickSummary {
}


#preamble, #quickSummary {
        margin-left: 180px;
	margin-right: 20px;
        width: auto;
	background: white;
	padding: 0px 5px;
}

#intro {
}

#supportingText {
	margin-left: 180px;
	margin-right: 20px;
	width: auto;
	z-index: 100;
}

#preamble .p3, #explanation, #participation, #benefits, #requirements {
        margin-bottom: 1em;
        padding-bottom: 37px;
}

#requirements { margin-right: 160px; }

#linkList {
        font-weight: bold;
        left: 0;
        overflow: hidden;
        position: absolute;
        top: 91px;
        width: 140px;
	margin-left: 20px;
	margin-right: 20px;
	padding-bottom: 100px;
}

#lselect a { display: block; }
#lselect a.link { display: inline; }

#linkList a:hover {
	text-decoration: none;
	background: blue !important;
	color: white !important;
}

#linkList a.link {
        font-size: 1em;
        font-style: normal;
        font-weight: bold;
	text-decoration: none;
}

#linkList a:visited {
	color: purple;
}

#linkList h3 {
        font-style: normal;
        padding-top: 0.5em;
        text-align: center;
        font-weight: bold;
        font-size: 1.5em;
}

#linkList li {
	padding-left: 15px;
}

.select {
	background: blue;
	color: white;
}
.archives {
	background: blue;
	color: white;
}
#lselect {
	margin-bottom: 10px;
	background: white;
}
#larchives {
	margin-bottom: 10px;
	background: white;
}
#lselect li {
}
#larchives li, #lresources li, #sf {
}


.title h3 {
        font-weight: bold;
	font-size: 2.5em;
	background: blue;
	color: white;
	margin-bottom: 10px;
}

.item {
	background: white;
	padding-bottom: 5px;
	margin-bottom: 10px;
	padding: 0px 5px 5px 5px;
}

.item h3 {
        font-weight: bold;
	font-size: 1.5em;
	background: blue;
	color: white;
	padding: 0px 5px;
	margin: 0px -5px;
}

.item h3 a {
	background: blue;
	color: white;
}


.item ul {
	padding-left: 15px;
	margin-bottom: 5px;
}

.item pre {
	background: #ADD8E6; /* lightblue */
	border: 3px solid black;
	margin: 5px;
	font-size: 1.0em;
}

.item img {
	border: none;
}

.item p a {
	color: red;
	text-decoration: none;
}

.item li a {
	text-decoration: none;
}

.item>a {
	text-decoration: none;
}

.item p a:hover {
	color: white;
	background: red;
}

.item li a:hover {
	color: white;
	background: blue;
}

.item>a:hover {
	color: white;
	background: blue;
}

.item b {
	color: green;
	font-size: 1.5em;
}

.redlink {
	color: red;
}

